.wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    border-collapse: collapse;
    text-align: center;
    border: 1px solid;
}

.table td, table th {
    width: 100px;
    height: 90px;
    border: 1px solid;
    text-align: center;
}

.img {
    height: 90px;
    width: 80px;
}

.totalPriceDiv, .buttonBlock {
    margin-left: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
}

.buttonBlock {
    margin-left: 490px;
    margin-top: 0;
}

.button {
    width: 100px;
    height: 30px;
    margin-left: 20px;
}