.wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {

}

.headerRow {

}

.headerColumn {
    width: 100px;
    height: 90px;
    align-items: center;
}

.img {
    height: 90px;
    width: 80px;
}