.wrapper {
    margin-left: 25px;
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 16px;
}

.productWrapper {
    max-width: 170px;
    width: 100%;
}

.divImg {
    width: 150px;
    height: 150px;
}

.productImg {
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

.divTitle {
    height: 30px;
}

.button {
    width: 130px;
    height: 27px;
    border-radius: 4px;
    background-color: #c78585;
    margin-left: 15px;
}